<template name ="place_tabs">

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="tab {{active 'photo_tab'}}">
                    <a id="photo_tab" href="#">Photos</a>
                </li>
                <li class="tab {{active 'info_tab'}}">
                    <a id="info_tab" href="#">Infos pratiques</a>
                </li>
                <li class="tab {{active 'schedule_tab'}}">
                    <a id="schedule_tab" href="#">Calendrier</a>
                </li>
                <li class="tab {{active 'price_tab'}}">
                    <a id="price_tab" href="#">Tarifs/inscriptions</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4">  
        </div>
    </div>

    <div class="row">
    {{#with this}}

        {{#if photo_tab }}
            {{> place_tab_photo}}
        {{/if}}

        {{# if info_tab }}
            {{> place_tab_info}}
        {{/if}}

        {{# if schedule_tab}}
            {{> place_tab_schedule}}
        {{/if}}

        {{# if price_tab}}
            {{> place_tab_price}}
        {{/if}}
        
    {{/ with}}
    </div>

                
</template>