<template name="place_creation_form">
	<form class="form-horizontal">

		<div class="control-group">
			<label class="control-label" for="input-title">Titre</label>
			<div class="controls">
				<input type="text" id="input-title" placeholder="Titre">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="input-description">Description</label>
			<div class="controls">
				<textarea id="input-description" rows="5" placeholder="Description"></textarea>
			</div>
		</div>	

		<div class="control-group">
			<label class="control-label" for="input-description">Adresse</label>
			<div class="controls">
				{{> geographical_selector}}
			</div>
		</div>

		<div class="control-group"> <div class="controls">
			<input type="submit" value="Submit" class="btn btn-primary"/> </div>
		</div>
	</form>

</template>