<template name="place_page">
    <!--<br><a href="{{pathFor 'place_search_page'}}" class="detail btn btn-primary btn-sm active" role="button">Retour à la recherche</a>-->
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <h3>{{title}}</h3>    
                <h6> {{address}}</h6>
                {{#if course}}
                <p>prix : {{course.price}}</p>
                {{/ if}}
                {{> tag_selector}}
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-8 col-md-offset-3 no_padding">
                {{# with course}}
                    {{> place_tabs}}
                {{/ with}}
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                {{#if course}}
                    course description : {{course.description}}
                {{/ if}}
            </div>
        </div>
        

        
            
            
        
</template>