<template name="place_update_form">
    {{#with current_place}}
    <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="input-title">Titre</label>
            <div>
                <input type="text" id="input-title" value="{{title}}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input-description">Description</label>
            <div>
                <textarea id="input-description" rows="5">{{description}}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input-description">Adresse</label>
            <div>
                {{> geographical_selector}}
            </div>
        </div>

        <div class="control-group"> 
            <div class="controls">
                <button type="submit" value="Submit" class="btn bnt-sm btn-primary"></button> 
            </div>
        </div>
    </form>
    {{/with}}
</template>