<template name="place_creation_form">
    <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="input-title">Titre</label>
            <div>
                <input type="text" id="input-title" placeholder="Titre" value={{title}}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="input-description">Description</label>
            <div>
                <textarea id="input-description" rows="5" placeholder="Description"></textarea>
            </div>
        </div>  

        <div class="control-group">
            <label class="control-label" for="input-description">Adresse</label>
            <div>
                {{> geographical_selector}}
            </div>
        </div>

        <div class="control-group"> 
            <div>
                <button type="submit" value="Submit" class="btn btn-sm btn-primary"></button> 
            </div>
        </div>
    </form>
</template>