<template name="place_search_page">
  <div class="row">
    <div class="col-md-6 padding_left_0">
      {{>map}}
    </div>

    <div class="col-md-6">
      <div class="row">
      <br/>
        <div class="col-md-4">{{>tag_selector}}</div>
        <div class="col-md-4">{{>geographical_selector}}</div>
      </div>
      <br/>

      <div class="row">  
        {{> calendar_selector}}
        <br>
        {{> price_selector}}<br>
        {{> time_selector}}<br>
      <br>
      </div>
      <div class="row">  
        {{> place_list}}   
      </div>
    </div>
  </div>
</template>
