<template name="header">
	<header id='header' class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="{{homePath}}">touslescours.fr</a>

			<div class="nav-collapse collapse">
				
				<ul id='post-cours' class="nav pull-right btn btn-warning btn-small">
					<li><a href="{{course_creation_formPath}}">Poster votre cours</a></li>
				</ul>

				<button id='sign-in' class="nav pull-right btn btn-small btn-primary" type="button">{{loginButtons}}</button>

			</div>
		</div>
		</div> 
	</header>
</template>