<template name="nav">
<nav class="navbar-default navbar no_radius" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" id='salut' href="{{pathFor 'home'}}">touslescours.fr</a>
    </div>
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">

            <li class="add-course"><a href="">Poster un cours</a></li>
            <li class="sign-in">{{loginButtons}}</li>
        </ul>
        </form>
    </div>

</nav>
</template>