<template name="home">


    <div class="block">
        <div class="row centered">
            <div class="col-md-12"><h1>Trouver un cours</h1>
                <div id="tag-line">Trouver un cours près de chez vous ou de votre travail parmi 200 000 professionnels</div><br>
                <div class="row centered">
                <div id="button-home1" class="col-md-4">{{>tag_selector}}</div>
                <div id="button-home2" class="col-md-4">{{>geographical_selector}}</div>
                <div id="button-home3" class="col-md-4"><input id="find-btn" type="button" class="btn btn-success btn-sm" value="Trouver un cours"></div>
                </div>
            </div>
        </div>
    </div>
    
</template>