<template name='home'>

<div class="block">
	<div class="row-fluid centered">
		<div class="span12"><h1>Trouver un cours</h1>
			<div id="tag-line">Trouver un cours près de chez vous ou de votre travail parmi 200 000 professionnels</div><br>
			<div class="row-fluid centered">
				<div id='button-home1' class="span4">{{>tag_selector}}</div>
				<div id='button-home2' class="span4">{{>geographical_selector}}</div>
				<div id='button-home3' class="span4"><input id='find-btn' type='button' class='btn' value='Trouver un cours'></div>
			</div>
		</div>
	</div>
</div>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

</template>