<template name="create_time_slot_modal">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Ajouter un créneau horaire</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}
    <form method="POST" class="form-horizontal"> 

        <div class="control-group">
          <label class="control-label" for="input-all-day">Toute la journée</label>
          <div class="controls">
            <input type="checkbox" name="input-all-day" id="all-day" value="all-day" >
          </div>
        </div> 

        <div class="control-group">
          <label class="control-label" for="input-starts">Starts</label>
          <div class="controls">
            <input type="text" name="input-starts" id="date-starts">
          </div>
        </div> 

        <div class="control-group">
          <label class="control-label" for="input-ends">Ends</label>
          <div class="controls">
            <input type="text" name="input-ends" id="date-ends">
          </div>
        </div> 

      <label>Description</label>
      <textarea class="description span5"></textarea>

      <label class="checkbox">
        <input type="checkbox" class="private">
        Private party &mdash; invitees only
      </label>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Add party</a>
    </div>
    </form>

  </div>
</template>