<template name="edit_course_form">
<div class="row"> 
    <div class="col-md-3">
    </div>  
    <div class="col-md-6">

        <form method="POST" class="form-horizontal">                        
            <div class="form-group">
                <label class="control-label" for="input-place">Lieu <span class="red">*</span></label>
                <div class="controls">
                    <input type="hidden" id="input-place" required></input>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="input-tags">Discipline <span class="red">*</span></label>   
                <div class="controls" required>
                    {{> tag_selector}}
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="input-description">Description du cours <span class="red">*</span></label>
                <div class="controls">
                    <textarea id="input-description" rows="5" placeholder="Description" required>{{description}}</textarea>
                </div>
            </div>  

            <div class="form-group">
                <label class="control-label" for="input-price">Prix <span class="red">*</span></label>
                <div class="controls">
                    <input type="number" min ="0" id="input-price" rows="5" placeholder="Prix" value="{{price}}" required>
                </div>
            </div> 

            <div class="row">     
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="input-time-slots">Calendrier <span class="red">*</span></label>
                        <div class="controls" required>
                            {{> calendar}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="image-picker">Photos</label>
                <div class="controls">
                    <input type="text" id="image-picker" data-fp-button-class="btn btn-primary" data-fp-multiple="true">
                </div>
            </div>
            
            <div class="row">     
                <div class="col-md-8">
                    {{> course_pictures}}
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="input-price-explanation">Précision sur les prix <span class="red">*</span></label>
                <div class="controls">
                    <textarea id="input-price-explanation" rows="5" placeholder="Précision sur les prix" required>{{price_explanation}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="input-contact">Contact <span class="red">*</span></label>
                <div class="controls">
                    <input type="email" id="input-contact" rows="5" placeholder="Contact" value="{{contact}}" required>
                </div>
            </div> 

            <div class="form-group">
                <label class="control-label" for="input-required_material">Materiel nécessaire <span class="red">*</span></label>
                <div class="controls">
                    <textarea id="input-required-material" rows="5" placeholder="Materiel nécéssaire" required>{{required_materiel}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="input-additional-information">Information complementaire</label>
                <div class="controls">
                    <textarea rows="10" cols="140" id="input-additional-information" placeholder="Information complementaire">{{additional_information}}</textarea>
                </div>
            </div>
            <div class="form-group"> <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/> </div>
            </div>
        </form>

    </div>
    <div class="col-md-3">
    </div>  
</div>
</template>