
#amount, #schedule{
	border: 0; 
	color: #f6931f; 
	font-weight: bold;
}

#map{
	width: 100%;
    height: 600px;
}
	
.google-map img {
	max-width: none;
    vertical-align: baseline; 
}
/* -------------------PAGE SIZE-------------------*/

#container-header
{
	margin: 0;
	padding: 0;
	width: 100%;
}

/*-------------------RESEARCH BARRE CENTER - HOME-------------------*/

#geographical-search{
	margin: 0;
}

#find-btn{
	width: 100%;

}

#button-home1{
	margin: 0;
	padding: 0;
}

#button-home2{
	margin: 0;
	padding: 0;
}

#button-home3{
	margin: 0;
	padding: 0;
}


h1{
	color: #3c3c3c;
}

#tag-line{
	color: #3c3c3c;
	font-size: 1,3em;
}

/* This parent can be any width and height */
.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle -1px;
  width: 800px;
}

/*------------------ COURSE LIST PAGE---------------*/

.text{
	color: #3c3c3c;
	font-family: Helvetica;
}

#courses-list{
	margin-left: 20px;
}






