
#amount, #schedule{
	border: 0; 
	color: #f6931f; 
	font-weight: bold;
}

.row{
margin-left: 0px;
margin-right: 0px;}

.no_padding{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.margin_5{
	margin-left: 6px;
}

.border1px{
	border: 1px solid #dbdbdb;
}

body{
	background-color: rgb(247,247,247);
}

.red{
	color: red;
}

/*--------------------------MAP------------------------*/


#map_630 {
   	width: 100%;
    height: 630px;
}

#map_400 {
   	width: 100%;
    height: 400px;
}

.google-map img{
	max-width: none;
    vertical-align: baseline; 
}

.padding_left_0{
	padding-left: 0px;
}
/* -------------------PAGE SIZE-------------------*/

#container-header
{
	margin: 0;
	padding: 0;
	width: 100%;
	border-radius: none;
}

#container-main{
	width: 100%;
}

.container{
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

/*-------------------HEADER--------------------*/

/*#header{
	margin: 0;
}*/


.sign-in li a{
	color: white;
}

.sign-in{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 14px;
}

#signup-link{
color: #428bca;
}

.navbar{
margin-bottom: 0px;
}

.no_radius{	
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/*-------------------RESEARCH BARRE CENTER - HOME-------------------*/

#button-home1{
	margin: 0;
	padding: 0;
}

#s2id_subject-search{
	width: 95%;
}

#button-home2{
	margin: 0;
	padding: 0;
	height: 26px;
}

#geographical-search{
	margin: 0;
	width: 95%;
	height: 26px;
}

#button-home3{
	margin: 0;
	padding: 0;
	height: 26px;
}

#find-btn{
	width: 95%;
	height: 26px;
}

h1{
	color: white;
	text-shadow:
	-1px -1px 0 #424242,  
	1px -1px 0 #424242,
	-1px 1px 0 #424242,
	1px 1px 0 #424242;
}

#tag-line{
	color: white;
	text-shadow:
	-1px -1px 0 #424242,  
	1px -1px 0 #424242,
	-1px 1px 0 #424242,
	1px 1px 0 #424242;
	font-size: 1,3em;
}

/* This parent can be any width and height */
.block {
  text-align: center;
  height: 600px;
  position: relative;
  z-index: 100;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle -1px;
  width: 600px;
}

/*------------------ COURSE LIST PAGE---------------*/

.text{
	color: #3c3c3c;
	font-family: Helvetica;
}

#courses-list{
	margin-left: 20px;
}

/*-------------------404-----------------------*/

#error404{
	background-image: url(error404.png);
}


/*--------------IMAGE GALLERY--------------------*/

#galleria { 
	width: 529px; 
	height: 400px;
}

.galleria-container{
	background-color: rgb(255,255,255);
}

#create_time_slot_modal .modal-body {
	max-height: 800px;
}

/*--------------MAIN CAROUSEL--------------------*/

#imgCarousel{
	position: absolute;
	z-index: 1;
}

/*---------------navbar-----------------------------*/

#salut{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/*-----------------------checkboxe--s-------------------*/

/* Cachons la case à cocher */  
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative; /* permet de positionner les pseudo-éléments */
    padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
    cursor: pointer;    /* affiche un curseur adapté */
}

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px; /* dim. de la case */
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px; /* angles arrondis */
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}

/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0; left: 4px;
    font-size: 14px;
    color: #6FA2E8;
    transition: all .1s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0; /* coche invisible */
    transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
    opacity: 1; /* coche opaque */
    transform: scale(1); /* mise à l'échelle 1:1 */
}

/* aspect désactivée */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

/* styles de la coche (si cochée/désactivée) */
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
/* on style aussi le label quand désactivé */
[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* aspect au focus de l'élément */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}