/* CSS declarations go here */
#amount, #schedule{
	border: 0; 
	color: #f6931f; 
	font-weight: bold;
}

#map{
	width: 100%;
    height: 600px;
}
	
.google-map img {
	max-width: none;
    vertical-align: baseline; 
}