<template name="course_list_page">
  <div class="container-fluid">
    <div class="row-fluid">
      <span class="span3">
      </span>
      <span class="span9">
        {{> search}}
      </span>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row-fluid">
      <span class="span3">
        {{> calendar_selector}}
        {{> price_selector}}
        {{> time_selector}}
      </span>
      <span class="span9">
        {{> course_list}}
      </span>
    </div>
  </div>
</template>
