<template name="user_edit">
<div class="row-fluid"> 
    <div class="span10">
    </div>
    <div class="span10">
    <p> Mon compte </p>
    {{#with user}}
        {{user.email}}</br>
        {{user.username}}</br></br>

        <a class="btn btn-default add-place">Ajouter un lieux</a>
        <p>Mes lieux :</p>
        {{#each places}}
            {{> place_item}}</br>
        {{/each}}

        <a class="btn btn-default add-course">Ajouter un cours</a>
        <p>Mes cours :</p>
        {{#each courses}}
            {{> course_item}}</br>
        {{/each}}

    {{/with}}

    </div>
</div>
</template>
