<template name="user_edit">
<div class="row-fluid"> 
    <div class="span10">
    </div>
    <div class="span10">
    <p> Mon compte </p>
    {{#with user}}
        {{user.email}}</br>
        {{user.username}}</br></br>

        <a href="{{place_edit_formPath}}" class="btn btn-default">Ajouter un lieux</a>
        <p>Mes lieux :</p>
        {{#each places}}
            {{> place_item}}</br>
            <a href="{{place_update_formPath this._id}}" class="btn btn-default">Modifier ce lieu</a></br>
            <a class="button btn btn-danger delete-place" id="{{this._id}}">Supprimer ce lieu</a></br>

        {{/each}}

        <a href="{{course_edit_formPath}}" class="btn btn-default">Ajouter un cours</a>
        <p>Mes cours :</p>
        {{#each courses}}
            {{> course_item}}</br>
        {{/each}}

    {{/with}}

    </div>
</div>
</template>
