<template name="calendar_selector">
<div class="row">
  <div class="col-md-1 text">JOURS</div>
  <div class="col-md-1"></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="1" checked>Lun</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="2" checked>Mar</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="3" checked>Mer</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="4" checked>Jeu</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="5" checked>Ven</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="6" checked>Sam</input></div>
  <div class="col-md-1"><input type="checkbox" name="day_selector" class="day_selector" value="0" checked>Dim</input></div>
</div>
</template>