<template name="calendar_selector">
<div class="row">
    <div class="col-xs-1 text">JOURS</div>
    <div class="col-xs-1"></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="1" id="1" checked><label for="1">Lun</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="2" id="2" checked><label for="2">Mar</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="3" id="3" checked><label for="3">Mer</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="4" id="4" checked><label for="4">Jeu</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="5" id="5" checked><label for="5">Ven</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="6" id="6" checked><label for="6">Sam</label></div>
    <div class="col-xs-1 no_padding margin_5"><input type="checkbox" name="day_selector" class="day_selector" value="0" id="7" checked><label for="7">Dim</label></div>
</div>
</template>