<template name="calendar_selector">
<div class="row-fluid">
  <div class="span1 text">JOURS</div>
  <div class="span1"></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="1" checked>Lun</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="2" checked>Mar</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="3" checked>Mer</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="4" checked>Jeu</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="5" checked>Ven</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="6" checked>Sam</input></div>
  <div class="span1"><input type="checkbox" name="day_selector" class="day_selector" value="7" checked>Dim</input></div>
</div>
</template>